$primary: #642afb
$primary-light: #a585ff
$primary-dark: #4015b3
$secondary: #FFC107
$accent: #ff4081
$positive: #21ba45
$negative: #f44336
$info: #00bcd4
$warning: #ffeb3b
$dark: #040404

$grey-1: #f5f6fc
$grey-2: #E0E1EB

$default: #f1f0ff

$button-border-radius: 6px
$generic-border-radius: 6px
